# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node
node_modules
dist
dist-ssr
coverage
*.local
*.tsbuildinfo
*.timestamp-*-*.mjs

# python
backend/weights/
*/venv/
*/__pycache__/
*.pyc
*.pyo

# database
*.db

# os
.DS_Store

# editor
**/.vscode/*
!**/.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# testing
/cypress/videos/
/cypress/screenshots/
__screenshots__/
